<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg"%>
	</div>

		<div id="content">
		<h1>Hello! My name is Vladimir</h1>
		<p>Welcome to my Web App.</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find on the web at <a href="http://mackenziechild.me">mackenziechild.me</a></p>
	</div>
</div>





